body {
  background: #ffffff;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/*----------------------------------------
    Animations
-----------------------------------------*/

.bounce {
  animation: bounce 1.5s infinite;
  position: relative;
  display: inline-block;
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}

.wave {
  font-size: 4rem;
  animation: wave 2.5s infinite;
  transform-origin: 60% 60%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(-25deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.point-right i {
  position: relative;
  left: 7px;
}

.point-right {
  animation: point 1.5s infinite;
  position: relative;
  display: inline-block;
}

@keyframes point {
  0% {
    right: 0px;
  }
  50% {
    right: 5px;
  }
  100% {
    right: 0px;
  }
}

/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,
h2 {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 62px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 48px;
  line-height: 46px;
  margin-bottom: 40px;
}

h3 {
  font-size: 26px;
  line-height: 3.5rem;
}

h4 {
  color: rgb(61, 61, 61);
  font-size: 22px;
  font-weight: normal;
  line-height: 4rem;
}

p {
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: 300;
  line-height: 3.5rem;
  letter-spacing: 0.2;
  font-family: "Poppins", sans-serif;
}

li {
  font-size: 18px;
}

.section {
  margin: 3rem 0;
  text-align: left;
  line-height: 3.5rem;
}

strong {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline !important;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.reveal-text .extra-text {
  visibility: hidden;
}

.reveal-text:hover .extra-text {
  visibility: visible;
}

.reveal-text .extra-text {
  visibility: hidden;
  width: 120px;
  background-color: rgb(126, 126, 126);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
}

/*---------------------------------------
    General               
-----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #6d6d6d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover,
a:active,
a:focus {
  color: #70abb5;
  outline: none;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.logo {
  width: 3rem;
  height: auto;
  -webkit-filter: brightness(0.3);
  -webkit-transition: 0.3s ease-in-out;
  -moz-filter: brightness(0.3);
  -moz-transition: 0.3s ease-in-out;
  -o-filter: brightness(0.3);
  -o-transition: 0.3s ease-in-out;
}

.logo:hover {
  -webkit-filter: brightness(1);
  -webkit-transition: 0.3s ease-in-out;
  -moz-filter: brightness(1);
  -moz-transition: 0.3s ease-in-out;
  -o-filter: brightness(1);
  -o-transition: 0.3s ease-in-out;
}

.navbar-default {
  background: #ffffff;
  padding: 18px 0;
  border: none;
  margin-top: 40px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-brand {
  padding-top: 6px;
}

.navbar-default .navbar-brand .fa {
  color: #000;
  font-size: 42px;
}

.navbar-default .navbar-nav li a {
  color: rgb(175, 174, 174);
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-right: 22px;
  padding-left: 22px;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav .active > a {
  color: #70abb5;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: rgb(36, 36, 36);
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/*---------------------------------------
    Home section              
-----------------------------------------*/

/* Curved welcome text */

path {
  fill: transparent;
}

#curved_text {
  font-family: rubik;
  font-size: 60%;
  font-weight: bold;
}

/* ------ */

#home {
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#home hr {
  width: 82px;
  margin-top: 32px;
}

.filter_btn {
  border: none;
  padding: 1rem 3rem;
  margin: 2rem 0.75rem 0rem 0.75rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.filter_btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.filter_clicked {
  border: none;
  padding: 1rem 3rem;
  margin: 2rem 0.75rem 0rem 0.75rem;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

#portfolio .col-md-4,
#portfolio .col-sm-6 {
  height: 250px;
}

/*---------------------------------------
   About section              
-----------------------------------------*/

#about-info {
  margin-top: 2rem;
}

#about .col-md-8 {
  padding-left: 0px;
}

#about .col-md-8 img {
  padding-right: 22px;
  padding-bottom: 22px;
}

#about hr {
  width: 100px;
  margin-top: 42px;
  margin-bottom: 42px;
}

#about ul {
  padding-left: 22px;
}

#about ul li {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}

/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio {
  margin-bottom: 5rem;
}
#portfolio small {
  color: #f0f0f0;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img-responsive {
  border-radius: 10px !important;
}

#portfolio .portfolio-thumb {
  position: relative;
  padding: 0;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  position: absolute;
  background: #222;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

/*---------------------------------------
   Single Project section              
-----------------------------------------*/

#single-project {
  text-align: center;
  padding-top: 10px;
}

#single-project .col-md-12,
#single-project .col-md-6,
#single-project .col-md-4 {
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}

#single-project .col-md-12 {
  padding-top: 10px;
}

a.cs50:link {
  font-weight: normal;
  color: #ef9270;
}

a.cs50:visited {
  color: #ef9270;
  text-decoration: none;
}

a.cs50:hover {
  color: #70abb5;
}

a.amenuveve:link {
  font-weight: normal;
  color: #dfb633;
}

a.amenuveve:visited {
  color: #dfb633;
  text-decoration: none;
}

a.amenuveve:hover {
  color: #70abb5;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.basic-info {
  color: #000;
  font-weight: bold;
}

.project_title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}
.proj-overview {
  margin: 8rem;
  text-align: left;
}

.proj-subtitle {
  margin: 4rem 8rem;
  text-align: left;
  font-weight: bold;
}

.proj-description {
  margin: 4rem 8rem;
  text-align: left;
}

#single-project img {
  margin-top: 2rem;
}

.caption {
  font-size: 16px;
  text-align: left;
}

.profile {
  align-items: center;
}

.profile p {
  text-align: left;
}

.profile img {
  max-width: 100px;
  margin-bottom: 3rem;
}

#old-site {
  color: #f1c566;
}

blockquote {
  margin-left: 8rem;
  padding: 0;
}

li p {
  position: relative;
  left: 20px;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  position: relative;
}

.footer_space {
  margin-bottom: 10rem;
}

/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  color: #777;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
  color: #000;
  transform: scale(1.1);
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2;
    font-family: "Open Sans", sans-serif;
  }

  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

  #blog-single-post .blog-post-title h2 {
    font-size: 29px;
    line-height: 40px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }
}
