* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --magenta: 147, 14, 78;
  --lightgrey: 223, 223, 223;
  --almostblack: 29, 29, 29;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  text-align: center;
  color: var(--almostblack);
}

body > :not(header) {
  padding: 0 2rem;
}

/* --- Custom animations --- */

@keyframes bounce {
  50% {
    transform: translateY(-5%);
  }
}

/* --- Header --- */
header,
header div {
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header {
  margin-bottom: 2rem;
}

header img {
  width: auto;
  height: 100%;
}

/* --- Home > Hero Section --- */
.hero {
  margin: auto;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  gap: 3rem 5rem;
  align-items: flex-end;
  justify-content: center;
}

.hero-image {
  position: relative;
}

.hero-image img:last-child {
  position: absolute;
  right: -3.5rem;
  top: 3rem;
  filter: drop-shadow(0 0.2rem 0.1rem rgba(var(--almostblack), 0.5));
  animation: bounce 1.5s infinite;
}

.hero-text {
  line-height: 2rem;
}

.hero-text h2 {
  margin-bottom: 1rem;
}

.hero-text p:last-of-type {
  margin-bottom: 2rem;
}

.hero-text span {
  color: rgb(var(--lightgrey));

  transition: padding ease-out 80ms;
}
.hero-text span:hover {
  color: white;
  background-color: rgb(var(--magenta));
  padding: 0.2rem 0rem;
}

/* --- Home > Tools section --- */
