* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --magenta: 147, 14, 78;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  text-align: center;
  padding: 0 1rem;
}

/* --- HEADER --- */
header,
header div {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header {
  margin-bottom: 2rem;
}

header img {
  width: auto;
  height: 100%;
}

/* --- HOME | HERO SECTION --- */
.hero {
  margin: auto;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  gap: 3rem 5rem;
  align-items: flex-end;
  justify-content: center;
}

.hero-image {
  position: relative;
}

.hero-image img:last-child {
  position: absolute;
  right: -3.5rem;
  top: 3rem;
}

.hero-text {
  line-height: 2rem;
}

.hero-text h2 {
  margin-bottom: 1rem;
}

.hero-text p:last-of-type {
  margin-bottom: 2rem;
}

/* --- HOME | TOOLS USED SECTION --- */
